# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment files
.env
.venv/

# Ignore other files
pypost_beta.py
pypost_test.py

# Ignore folders
data/
Secrets/
LettersToSend/
tests/generated_test_files/
